// Color Variables
$background-light: linear-gradient(112.65deg, #FFFFFF 0.28%, rgba(70, 97, 115, 0) 178.65%);
$text-light: #292929;
$primary-light: #D9D9D9;
$secondary-light: linear-gradient(173.7deg, #443D64 -15.92%, rgba(101, 130, 198, 0) 192.45%);
$accent-light: linear-gradient(170.72deg, #F88508 -12.41%, rgba(246, 250, 217, 0) 163.32%);
$align-light: flex-start;

$background-dark: linear-gradient(110.05deg, #383838 0%, rgba(158, 158, 158, 0) 71.82%);
$text-dark: #FFFFFF;
$primary-dark: #444444;
$secondary-dark: #373636;
$align-dark: flex-end;
$base-font-size: 16px;


@function px-to-rem($px) {
  @return $px / $base-font-size * 1rem;
}
